/*Style.css - til dine custom styles*/

.form-control, .btn, .card, .card-img-top {
    border-radius: 0;
}

.btn-primary {
    background: #212529;
    border-color: #212529;
}

body {
    font-family: 'Inconsolata', monospace;
}

.card-img-top {
    height: 325px;
}

.row > *  {
    margin-bottom: 30px;
}

